
# Binaries for programs and plugins
bin/*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Coverage Files
coverage/*
coverage.html

# Serverless files
# Don't GIT push the serverless.yml file as it may/likely contains ARNs and other private info
.serverless/

#jetbrains stuff
.idea/

#images
images/

#exports.sh is where we set Environmental variables during build.. Don't commit this file as it could have secrets
exports.sh



